In [1]:
import pandas as pd
import nmea2position as nmea

data = nmea.read_nmea("ljic253u00.201")

In [2]:
# Select gga data
data_gga = data.loc["$GPGGA"] 
data_gga2 = data_gga[[1,2,3,4,5,9,10]] # Choose only the valid information
data_gga2.columns = ["UTC_time", "LAT", "LAT(unit)", "LON", "LON(unit)", "HEIGHT", "HEIGHT(unit)"]
# Select zda data
data_zda = data.loc["$GPZDA"] 
data_zda2 = data_zda[[1,2,3,4]]
data_zda2.columns = ["UTC_time","day","month","year"]

In [3]:
data_gga2.head(2) # Location + time

,UTC_time,LAT,LAT(unit),LON,LON(unit),HEIGHT,HEIGHT(unit)
0,,,,,,,
$GPGGA,195942.00,1157.170725,S,7652.57085,W,520.42,M
$GPGGA,195942.17,1157.170725,S,7652.57085,W,520.42,M

In [75]:
var = data_gga2.copy()

In [82]:
var = var[["LON","LAT","UTC_time"]]
var.head(3)

               LON          LAT   UTC_time
0
$GPGGA  7652.57085  1157.170725  195942.00
$GPGGA  7652.57085  1157.170725  195942.17
$GPGGA  7652.57085  1157.170727  200042.00

In [83]:
var["ind"] = 0

In [84]:
var.head()

               LON          LAT   UTC_time  ind
0
$GPGGA  7652.57085  1157.170725  195942.00    0
$GPGGA  7652.57085  1157.170725  195942.17    0
$GPGGA  7652.57085  1157.170727  200042.00    0
$GPGGA  7652.57085  1157.170729  200142.00    0
$GPGGA  7652.57085  1157.170730  200242.00    0

In [81]:
var

               LON          LAT   UTC_time
0
$GPGGA  7652.57085  1157.170725  195942.00
$GPGGA  7652.57085  1157.170725  195942.17
$GPGGA  7652.57085  1157.170727  200042.00
$GPGGA  7652.57085  1157.170729  200142.00
$GPGGA  7652.57085  1157.170730  200242.00
$GPGGA  7652.57086  1157.170732  200342.00
$GPGGA  7652.57086  1157.170732  200442.00
$GPGGA  7652.57086  1157.170734  200542.00
$GPGGA  7652.57086  1157.170736  200642.00
$GPGGA  7652.57086  1157.170738  200742.00
$GPGGA  7652.57087  1157.170740  200842.00
$GPGGA  7652.57087  1157.170740  200942.00
$GPGGA  7652.57087  1157.170742  201042.00
$GPGGA  7652.57087  1157.170742  201142.00
$GPGGA  7652.57087  1157.170744  201242.00
$GPGGA  7652.57087  1157.170747  201342.00

In [4]:
df = data_gga2.copy()
df.head(2)

,UTC_time,LAT,LAT(unit),LON,LON(unit),HEIGHT,HEIGHT(unit)
0,,,,,,,
$GPGGA,195942.00,1157.170725,S,7652.57085,W,520.42,M
$GPGGA,195942.17,1157.170725,S,7652.57085,W,520.42,M

In [5]:
df.reset_index(drop=True, inplace=True)

In [6]:
df.head(2)

    UTC_time          LAT LAT(unit)         LON LON(unit)  HEIGHT HEIGHT(unit)
0  195942.00  1157.170725         S  7652.57085         W  520.42            M
1  195942.17  1157.170725         S  7652.57085         W  520.42            M

In [7]:
def convert_decimalDegree(value):
    integer = int(value/100)
    decimal = (value - integer*100)/60
    
    final_value = integer+decimal
    
    return final_value

In [9]:
#df["LAT"].apply(change_lat).round(6)

In [ ]:
def coordinate_sign(coord):
    if coord == "S" or coord == "W":
        return -1
    elif coord == "N" or coord == "E":
        return +1
    else:
        return "Error"

In [ ]:
df["LAT(unit)"].apply(lat_sign)

In [ ]:
df["Latitud"] = df["LAT"].apply(convert_decimalDegree).round(6) * df["LAT(unit)"].apply(coordinate_sign)

In [ ]:
df["Longitud"] = df["LON"].apply(convert_decimalDegree).round(5) * df["LON(unit)"].apply(coordinate_sign)

In [ ]:
df.head(3)

In [ ]:
df["Altura"] = df["HEIGHT"]

In [ ]:
df.head(3)

In [ ]:
del df["LAT"]
del df["LAT(unit)"]
del df["LON"]
del df["LON(unit)"]
del df["HEIGHT"]
del df["HEIGHT(unit)"]

In [12]:
data_zda2.head(2) # Time + date

         UTC_time  day month    year
0
$GPZDA  195942.17  9.0    09  2020.0
$GPZDA  200042.00  9.0    09  2020.0

In [13]:
date = data_zda2.copy()

In [18]:
date["UTC_time"].astype("int").astype("str").head(2)

0
$GPZDA    195942
$GPZDA    200042
Name: UTC_time, dtype: object

In [23]:
def get_secondsDay(tiempo):
    hour = int(tiempo[:2])
    minute = int(tiempo[2:4])
    seconds = int(tiempo[4:])
    
    total_seconds = seconds + minute*60 + hour*60*60
    
    return total_seconds

get_secondsDay("195942")

71982

In [25]:
date["UTC_time"].astype("int").astype("str").apply(get_secondsDay)

0
$GPZDA    71982
$GPZDA    72042
$GPZDA    72102
$GPZDA    72162
$GPZDA    72222
$GPZDA    72282
$GPZDA    72342
$GPZDA    72402
$GPZDA    72462
$GPZDA    72522
$GPZDA    72582
$GPZDA    72642
$GPZDA    72702
$GPZDA    72762
$GPZDA    72822
$GPZDA    72882
Name: UTC_time, dtype: int64

In [26]:
import datetime

In [ ]:
date = datetime.datetime.strptime("")

In [41]:
colum_names = list(data_zda2.columns)[1:]
for i in colum_names:
    data_zda2[i] = data_zda2[i].astype("int").astype("str")

<ipython-input-41-38fb82534c7a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_zda2[i] = data_zda2[i].astype("int").astype("str")

In [43]:
data_zda2.head(2)

         UTC_time day month  year
0
$GPZDA  195942.17   9     9  2020
$GPZDA  200042.00   9     9  2020

In [69]:
def change_date(row):
    day = row[1]
    month = row[2]
    year = row[3]
    date = year + "/" + month + "/" + day
    
    date1 = datetime.datetime.strptime(date,"%Y/%m/%d")
    date2 = datetime.datetime.strftime(date1,"%y/%j")
    
    YEAR = date2[:2] # i.e. "20/253"
    DOY = date2[3:]
    
    return YEAR, DOY

In [57]:
data_zda2.apply(change_date,axis=1).head()

0
$GPZDA    2020/9/9
$GPZDA    2020/9/9
$GPZDA    2020/9/9
$GPZDA    2020/9/9
$GPZDA    2020/9/9
dtype: object

In [61]:
data_zda2.apply(change_date,axis=1).head()

0
$GPZDA   2020-09-09
$GPZDA   2020-09-09
$GPZDA   2020-09-09
$GPZDA   2020-09-09
$GPZDA   2020-09-09
dtype: datetime64[ns]

In [63]:
data_zda2.apply(change_date,axis=1).head()

0
$GPZDA    20/253
$GPZDA    20/253
$GPZDA    20/253
$GPZDA    20/253
$GPZDA    20/253
dtype: object

In [70]:
data_zda2.apply(change_date,axis=1).str.get(1).head()

0
$GPZDA    253
$GPZDA    253
$GPZDA    253
$GPZDA    253
$GPZDA    253
dtype: object

In [88]:
data_zda2.reset_index(drop=True, inplace=True)

In [89]:
data_gga2["SOD"] = data_zda2.apply(change_date,axis=1).str.get(0).astype("int")

<ipython-input-89-a31fedc5c7a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gga2["SOD"] = data_zda2.apply(change_date,axis=1).str.get(0).astype("int")

In [90]:
data_gga2.head(3)

,UTC_time,LAT,LAT(unit),LON,LON(unit),HEIGHT,HEIGHT(unit),SOD
0,195942.00,1157.170725,S,7652.57085,W,520.42,M,20
1,195942.17,1157.170725,S,7652.57085,W,520.42,M,20
2,200042.00,1157.170727,S,7652.57085,W,520.43,M,20

In [ ]:
 # Then, we obtain location info 
lat = data_gga2["LAT"]
lat2 = lat.values

lat_unit = data_gga2["LAT(unit)"]
lat_unit2 = lat_unit.values

lon = data_gga2["LON"]
lon2 = lon.values

lon_unit = data_gga2["LON(unit)"]
lon_unit2 = lon_unit.values

height = data_gga2["HEIGHT"]
height2 = height.values

height_unit = data_gga2["HEIGHT(unit)"]
height_unit2 = height_unit.values

latitud = []
for i in range(len(lat2)):
    dato = str(lat2[i].round(6)) # Round decimal value to 6 digits
    dato2 = dato[:2]+"\xb0"+dato[2:]+"'"+lat_unit2[i]
    latitud.append(dato2)
    
longitud = []
for i in range(len(lon2)):
    dato = str(lon2[i].round(5))
    dato2 = dato[:2]+"\xb0"+dato[2:]+"'"+lon_unit2[i]
    longitud.append(dato2)
    
altura = []
for i in range(len(height2)):
    dato = str(height2[i].round(2))+height_unit2[i]
    altura.append(dato)

In [ ]:
latitud[:5]